#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.header{
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  background: #bc1a6b;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 24px;
}
.footer{
  bottom: 0;
  left: 0;
  background-color: #bc1a6b;
  color: white;
  width: 100%;
  padding: 20px;
  text-align: center;
  position: absolute;
}
.footer a{
  color: white;
  font-size: 24px;
}